body {
    margin: 0px;
}
#main_container {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#question_input {
    display: block;
    width: 90%;
    margin: 3px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    font-size: 30px;
}
#client_input {
    display: block;
    max-width: 300px;
    width: 30%;
    margin: 3px;
}
#year_input {
    display: block;
    max-width: 300px;
    width: 30%;
    margin: 3px;
}
#answer_input {
    display: block;
    margin: 3px;
}
#additional_notes_input {
    display: block;
    margin: 3px;
}
#tag_input {
    display: block;
    margin: 3px;
}
.input_text {
    border: 1px solid black;
    border-radius: 10px;
}
.input_text:hover {
    background-color: lightgray;
}
#tag_button_container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    width: 30%;
    max-width: 300px;
}


