body {
    margin: 0px;
    padding: 0px;
}
#main_container {
    padding: 10px;
    margin: 10px;
}
#edit_form {
    margin-left: 96%;
}
.action_button {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 20px;
    display: inline;
}
.action_button:hover {
    background-color: lightgray;
}
#info_box {
    float: left;
    border: 2px solid #ccc;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}
.tag {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 14px;
    width: min-content;
    padding: 1px;
    display: inline;
}
#answer_container {
    text-align: center;
}
#question {
    margin-left: 1%;
}
#back_button {
    float: left;
}
#edit_button {
    float: right;
}
#action_button_container {
    margin-bottom: 50px;
}