body {
    margin: 0px;
    padding: 0px;
}
#main_container {
    margin: 10px;
    padding: 10px;
    text-align:  center;
}
#search_box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
#search_input {
    margin-bottom: 10px;
}
input {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}
input:hover {
    background-color: lightgray;
}
input:focus {
    outline: none;
}
#tags {
    margin-top: 10px;
}
.tag_select_button {
    border: 1px solid black;
    font-size: 14px;
    border-radius: 10px;
}
#added_tag_container {
    border: 2px solid #ccc;
    padding: 3px;
    margin-bottom: 10px;
    width: 30.4%;
    margin-left: 35%;
    border-radius: 10px;
    margin-top: 10px;
}
#tag_container {
    margin-top: 5px;
}